# A01 - Python

## Daniel Sánchez López

**1.** Genera una lista de 100 elementos con múltiplos de 3

In [17]:
a = 1

In [10]:
for a in range(100):
    b = a*3
    print(b)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297

In [11]:
a = [b]
a

[297]

**2.** Toma el archivo de datosPE.xlsx y calcula el índice de masa corporal de cada persona.

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("datosPE.xlsx")

In [3]:
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [6]:
data["IMC"] = data["Peso"]/(data["Estatura"]*data["Estatura"])

In [7]:
data

    ID Persona  Peso  Estatura        IMC
0            1    67      1.41  33.700518
1            2    99      1.83  29.561946
2            3    86      1.90  23.822715
3            4   118      1.65  43.342516
4            5   109      1.67  39.083510
..         ...   ...       ...        ...
95          96    88      1.49  39.637854
96          97    98      1.54  41.322314
97          98    95      1.57  38.541117
98          99    61      1.61  23.533043
99         100   107      1.62  40.771224

[100 rows x 4 columns]

**3.** Toma el archivo datosCT.xlsx y
- Calcula la utilidad (ingreso - gasto)
- Encuentra el promedio de gastos en los meses que la utilidad fue negativa
- Encuentra los ingresos totales del año

In [13]:
import pandas as pd

In [14]:
datos=pd.DataFrame(pd.read_excel('datosCT.xlsx'))
Itotal=datos['Ingreso'].sum()
datos=datos.values.tolist()
i=0
negativos=0
acum=0
datos_nuevos=[]

In [15]:
print('La utilidad de la empresa por mes fue:\n')

La utilidad de la empresa por mes fue:

In [19]:
for a in datos:
    aux=[]
    utilidad=a[1]-a[2]
    acum=acum+utilidad
    
    aux.append(a[0])
    aux.append(a[1])
    aux.append(a[2])
    aux.append(utilidad)
    datos_nuevos.append(aux)
    
    print(str(a[0])+': '+str(utilidad))

Enero: -540
Febrero: -540
Marzo: 1430
Abril: 1080
Mayo: -1660
Junio: -360
Julio: -730
Agosto: 1030
Septiembre: 440
Octubre: -160
Noviembre: 2080
Diciembre: -1760

In [20]:
print(f'\nLa UTILIDAD TOTAL de la empresa fue de: {acum} pesos')

La UTILIDAD TOTAL de la empresa fue de: 930 pesos

In [21]:
for j in datos_nuevos:
    
    if j[3]<=0:
        i=i+1
        negativos=negativos+j[2]

In [22]:
prom_negativos=round(negativos/i,2)
print(f'\nEl GASTO PROMEDIO cuando la utiliidad fue negativa es de: {prom_negativos} pesos')

print(f'\nEl INGRESO TOTAL de la empresa fue de: {Itotal} pesos')

El GASTO PROMEDIO cuando la utiliidad fue negativa es de: 2517.14 pesos

El INGRESO TOTAL de la empresa fue de: 28020 pesos